.cardsWrapper {
  position: relative;
}

.cardFlickCard {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.cardFlickCard > * {
  /* make not clickable */
  pointer-events: none;
  user-select: none;
}
